html {
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
    box-sizing: border-box;

    --secondary: #E9003F;
    --secondary-hover: #c40034;
    --disabled: #99002980;

    * {
        user-select: none;
    }

    &.trovo {
        --secondary: #21b36c;
        --secondary-hover: #24ca7a;
        --disabled: #178550;
    }
}

html, body, #__nuxt, #__layout, #content {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
}

span, input, textarea, select, div {
    color: var(--text);
    font-family: Inter;
    font-weight: 500;

    user-select: none;
    outline: none;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeSpeed;

    &::selection {
        background: var(--secondary);
    }
}

.nowrap {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.small-text {
    color: var(--small-text);
    font-size: 9pt;
}

.link {
    color: var(--outline);
    cursor: pointer;
}

.stroke {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;

    &-track {
        background: #0e0e0e;
        border-radius: 0px 0px 0px 0px;
    }

    &-thumb {
        background: #2e2e2e;
        border-radius: 0px 0px 0px 0px;

        &:hover {
            background: #252525;
        }
    }
}

.icon {
    width: 24px;

    outline: none;

    &.feather {
        stroke: #ffffff;
    }

    &:not(.feather) {
        fill: #ffffff;
    }

    &.clickable:hover {
        cursor: pointer;
        
        &.feather {
            stroke: var(--secondary);
        }

        &:not(.feather) {
            fill: var(--secondary)
        }
    }
}

div {
    &.edit {
        background: var(--secondary);
    }

    &:not(.edit) {
        &.clickable {
            border-radius: 3px;
    
            transition: .2s ease-in;
    
            &:hover, *:hover {
                cursor: pointer;
            }
    
            &:hover {
                background: var(--outline);
            }
        }
    }
}

a {
    &.active {
        background: var(--secondary);
    }

    &.clickable {
        border-radius: 3px;

        transition: .2s all;

        &:not(.active) {
            &:hover, *:hover {
                cursor: pointer;
            }
    
            &:hover {
                background: var(--secondary);
            }
        }
    }
}

.tooltip {
    display: block !important;
    z-index: 10000;
    box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
  
    .tooltip-inner {
        padding: 5px;

        background: var(--secondary);
        border-radius: 4px;
        
        color: #ffffff;
        font-size: 12px;
    }
  
    .tooltip-arrow {
        border-color: var(--secondary);
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .1s, visibility .1s;
    }
  
    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .1s;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}

.slide-leave-active,
.slide-enter-active {
    transition: 1s;
}

.slide-enter {
    transform: translate(100%, 0);
}

.slide-leave-to {
    transform: translate(100%, 0);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin 3s infinite linear;
}

.input-form {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 5px;
}