html {
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html, body, #__nuxt, #__layout, #content {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
}

div, span, input, button {
	font-family: "Roboto", sans-serif;
	color: $text;
}

button {
    margin-right: 3px;
    padding: 5px;
    
    background: none;
    border: 1px solid $secondary;

    outline: none;
    
    &:hover {
        cursor: pointer;
        border: 1px solid $outline;
    }
}

.nowrap {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.link {
    color: $outline;
    cursor: pointer;
}

.stroke {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;

    &-track {
        background: #0e0e0e;
        border-radius: 0px 0px 0px 0px;
    }

    &-thumb {
        background: rgb(46, 46, 46);
        border-radius: 0px 0px 0px 0px;

        &:hover {
            background: rgb(37, 37, 37);
        }
    }
}